<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>

{% if books==[]  %}
<p>Library is empty.</p>
{% endif %}

 {% for book in books: %}
    <ul>

        <li>

             <h2 ><a href="delete?rating={{book['rating']}}">Delete </a> {{book['title']}}-{{book['author']}}-{{book['rating']}}/10 <a href="EditRating?rating={{book['rating']}}">Edit Rating </a></h2>

        </li>
    </ul>
{% endfor %}


<a href="{{ url_for('add') }}">Add New Book</a>
</body>
</html>